# macOS junk
._*
.DS_Store

# Python junk
__pycache__/
*.pyc

# Database
jobs.db
*.db
*.sqlite3

# Environments
venv/
.env

# JavaScript junk
node_modules/
package-lock.json
package.json

# More junk
.agents/
.claude/
Screenshots/